.CO-btn {
    background: rgb(7, 0, 34);
}

.ID-btn {
    font-size: 20px;
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 100%;
}

.SC-img-h {
    height: 20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.top {
    top: 4rem;
}


.flex-1 {
    flex: 1 1 0%;
}

















































































































































































































































































































































































































































































